.additional-products {
  padding: 0;
  margin: 0;
}

.additional-products__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.additional-products__title-line {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }
}

.additional-products__title-wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.additional-products__title {
  display: inline-block;
  padding: 0 20px;
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  background-color: #ffffff;
  color: #000000;
}

.additional-products__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


@media (min-width: $tablet-width) {
  .additional-products__list {
    padding: 28px 38px;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    position: relative;

    &::after {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      height: 1px;
      width: 707px;
      background-color: #cdcdcd;
      box-shadow: 0 0 10px 0 #cdcdcd;
    }
  }

  .additional-products .divided-line {
    display: none;
  }

  .additional-products__wrapper {
    width: 768px;
    padding: 0 30px;
  }

  .additional-products__title-wrapper {
    max-width: 768px;
  }

  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 35px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    padding: 0;
    margin: 0;
  }

  .additional-products__common {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
    box-sizing: border-box;
  }

  .additional-products__title-wrapper {
    max-width: 1440px;
  }

  .additional-products__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 35px;
    margin: 0 75px;
  }

  .additional-products__list {
    padding: 0;
    border: none;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }

  .additional-products__wrapper {
    width: 896px;
    margin: 0;
    padding: 0;
  }
}
