.additional-item {
  padding: 6px 0 9px 0;
}

.additional-item__text {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional-item__content {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.additional-item__quantity,
.additional-item__price {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $darkgrey;
  margin: 14px 0 12px 0;
}

.additional-item__button {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
}

@media (min-width: $tablet-width) {
  .additional-item {
    padding: 14px 38px 28px;
    position: relative;
    border: 1px solid #cdcdcd;
  }

  .additional-item__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 4px 0;
  }

  .additional-item__text {
    font-size: 20px;
    line-height: 20px;
    padding: 0 0 7px 0;
  }

  .additional-item__content {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .additional-item__quantity,
  .additional-item__price {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0;
  }

  .additional-item__price {
    margin: 16px 0 16px 51px;
  }
}

@media (min-width: $desktop-width) {
  .additional-item {
    display: grid;
    grid-template-columns: auto 244px;
    column-gap: 20px;
    align-items: center;
    border-left: none;
    border-right: none;
    padding: 7px 0 8px;
  }

  .additional-item__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .additional-item__text {
    display: block;
    font-size: 20px;
    line-height: 20px;
    padding: 0;
  }

  .additional-item__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 10px;
    margin: 0;
  }

  .additional-item__quantity,
  .additional-item__price {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-item__button {
    display: inline-block;
    width: 244px;
    padding: 7px 26px;
    justify-self: end;
  }
}
