.advantages {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  color: #000000;
}

.advantages__wrapper {
  padding: 0 20px;
  margin: 0;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.advantages__items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.advantages__item {
  position: relative;
  margin-bottom: 20px;
}

.advantages__item .advantages__description::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: $darkgrey;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0 0 0 70px;

  &--leaf::before {
    background-image: url("..//..//img//advantages//leaf.svg");
  }

  &--tube::before {
    background-image: url("..//..//img//advantages//tube.svg");
  }

  &--meal::before {
    background-image: url("..//..//img//advantages//meal.svg");
  }

  &--time::before {
    background-image: url("..//..//img//advantages//time.svg");
  }
}
