.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 40px 0;
}

.advantages__items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0 0 29px 0;
}

.advantages__item {
  min-height: 60px;
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: $darkgrey;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0 0 0 80px;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &--leaf::before {
    background-image: url("..//..//img//advantages//leaf.svg");
  }

  &--tube::before {
    background-image: url("..//..//img//advantages//tube.svg");
  }

  &--meal::before {
    background-image: url("..//..//img//advantages//meal.svg");
  }

  &--time::before {
    background-image: url("..//..//img//advantages//time.svg");
  }
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .advantages__items {
    display: grid;
    grid-template-columns: repeat(2, 249px);
    column-gap: 136px;
    row-gap: 36px;
    counter-reset: program;
  }

  .advantages__item {
    display: grid;
    grid-template-columns: 80px 169px;
    grid-template-rows: 40px 80px 31px min-content 57px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    position: relative;
    counter-increment: program;

    &::after {
      content: "";
      position: absolute;
      font-family: "Oswald", "Arial", sans-serif;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      text-align: end;
      content: counter(program);/*stylelint-disable-line*/
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #f2f2f2;
      z-index: -1;
    }

    &--leaf::after {
      right: 26px;
    }
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 12px 0 32px 0;
  }

  .advantages__description {
    grid-row: 3/5;
    grid-column: 1/-1;
    font-size: 16px;
    line-height: 24px;
    padding: 34px 0 0 0;
    margin: 0;

    &::before {
      background-size: 80px 80px;
      top: 40px;
      left: 0;
      right: 0;
      bottom: 0;

      &--leaf::before {
        background-image: url("..//..//img//advantages//leaf-tablet.svg");
      }

      &--tube::before {
        background-image: url("..//..//img//advantages//tube-tablet.svg");
      }

      &--meal::before {
        background-image: url("..//..//img//advantages//meal-tablet.svg");
      }

      &--time::before {
        background-image: url("..//..//img//advantages//time-tablet.svg");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    width: 1440px;
    padding: 0 110px;
  }

  .advantages__items {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 76px;
    margin: 0;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 68px 0 32px 0;
  }
}
