.card-show-more {
  display: flex;
  flex-direction: column;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
    left: -20px;
    top: 270px;
  }
}

.card-show-more__show-more {
  background-image: url("..//..//img//catalog-card//plus.svg");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin: 30px 125px;
  cursor: pointer;
}

.card-show-more__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  padding-left: 35px;
}

.card-show-more__subtitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $darkgrey;
  padding-left: 30px;
}

.card-show-more__show-all {
  width: 279px;
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 94px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: #bfbfbf;
    background-color: #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .card-show-more {
    background-color: #ffffff;
    border: 1px solid #f2f2f2;

    &::after {
      display: none;
    }
  }

  .card-show-more__show-more {
    background-image: url("..//..//img//catalog-card//plus-tablet.svg");
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    margin: 52px 0 0;
    padding: 0 0 10px 0;
    cursor: pointer;
  }

  .card-show-more__show-all {
    margin: 87px 0 38px;
  }

  .card-show-more__title {
    font-size: 20px;
    line-height: 22px;
    padding: 45px 80px 0;
    text-align: center;
  }

  .card-show-more__subtitle {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding: 25px 50px 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .card-show-more__show-more {
    margin: 50px 0 0 0;
    padding: 0;
    cursor: pointer;
  }

  .card-show-more__title {
    padding: 45px 40px 0;
  }

  .card-show-more__subtitle {
    padding: 23px 20px 0;
    margin: 0;
  }

  .card-show-more__show-all {
    width: 169px;
    margin: 80px 38px 41px;
    padding: 10px 39px;
  }
}
