.case {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #eaeaea;
}

.case__wrapper {
  padding: 0;
  margin: 0 20px;
}

.case__title {
  font-size: 36px;
  line-height: 40px;
}

.case__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $darkgrey;
}

.case__result {
  display: flex;
  list-style-type: none;
}

.case__number {
  text-transform: uppercase;
}

.case__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #c4c4c4;
}

.case__cost {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.case__cats-image {
  position: relative;
  width: 280px;
  height: 232px;
}

.case__cat-fat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("..//..//img//index-background//index-cat-fat.png");
  background: linear-gradient(to right, transparent 50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px 232px;
}

.case__cat-fat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to left, transparent 50%, url("..//..//img//index-background//index-cat-slim.png") 50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px 232px;
}
