.catalog-products__wrapper {
  width: 320px;
  padding: 36px 20px 25px;
  margin: 0 auto;
  box-sizing: border-box;
}

.catalog-products__products-info {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.catalog-products__product-card {
  display: grid;
  grid-template-columns: 138px 144px;
  padding: 0;
  position: relative;
  margin: 0;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
    left: -20px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-products__wrapper {
    width: 768px;
    padding: 164px 30px 50px;
  }

  .catalog-products__products-info {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    grid-template-rows: repeat(4, 429px);
    gap: 141px 60px;
  }

  .catalog-products__product-card {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: none;
    padding: 0;
    background-color: #f2f2f2;
    row-gap: 0;

    &::before {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-products__wrapper {
    width: 1440px;
    padding: 0 110px;
  }

  .catalog-products__product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: none;
    padding: 0;
    background-color: #f2f2f2;
  }

  .catalog-products__products-info {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-template-rows: repeat(2, 431px);
    gap: 144px 80px;
    padding: 165px 0 76px;
  }

  .product-card__image {
    width: 161px;
    height: 172px;
    position: absolute;
    top: -40px;
    left: 45px;

    &--large {
      width: 168px;
      height: 206px;
      top: -70px;
      left: 40px;
    }
  }
}
