.copyright__link {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $darkgrey;
  fill: #666666;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  &:hover {
    color: $darkgrey;
    fill: #666666;
  }

  &:focus {
    color: #68b738;
    fill: #68b738;
  }

  &:disabled {
    color: #c9e1bb;
    fill: #c9e1bb;
  }
}

@media (min-width: $tablet-width) {
  .copyright__link {
    padding: 4px 0 0 0;
  }

  .copyright__img {
    padding: 0 0 0 22px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link {
    padding: 8px 0 0 0;
  }
}
