.login-form {
  text-transform: uppercase;
}

.login-form__pet-data {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px 10px;
  box-sizing: border-box;
}

.login-form .divided-line {
  margin: 0;
}

.login-form__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 12px 0;
}

.login-form__info-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 34px 0 0 20px;
  box-sizing: border-box;
  position: relative;

  &--checkbox {
    padding: 32px 20px 0 20px;
  }
}

.login-form__label,
.login-form__content {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $darkgrey;
  position: relative;
}

.login-form__content {
  padding: 13px 15px;
  box-sizing: border-box;
  flex-grow: 1;
  margin-left: 13px;
  border: 1px solid #e7e7e7;
  outline: none;
  text-transform: uppercase;

  &--textarea {
    width: 100%;
    margin: 6px 0 0 0;
    padding: 10px 12px 50px 15px;
  }
}

.login-form__content--input {
  &:hover {
    border: 1px solid $darkgrey;
  }

  &:focus {
    border: 1px solid #cdcdcd;
  }

  &:invalid {
    border: 1px solid #ff8282;
  }
}

.login-form__note {
  border: none;
  padding: 0 0 3px 0;
  margin: 0;
}

.login-form__programm-filter {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.login-form__group {
  border: none;
  padding: 20px 0 12px 0;
  margin: 0;
}

.login-form__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

.login-form__owner-information {
  border: none;
  padding: 28px 0 10px 0;
}

.login-form__title-line {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }

  &--top::before {
    top: 25%;
  }
}

.login-form__title-wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.login-form__title {
  display: inline-block;
  padding: 0 20px 0 18px;
  margin: 0 100px 0 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  background-color: #ffffff;
}

.login-form__send {
  margin: 0;
}

.login-form__send-wrapper {
  width: 320px;
  margin: 0 auto 32px;
}

.login-form__submit {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  padding: 10px 44px;
  margin: 18px auto 21px;
}

.login-form__legend {
  display: block;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: #000000;
}

.login-form__icon {
  position: absolute;
  left: 268px;

  &--letter {
    stroke: #222222;
    fill: none;
  }
}

.login-form__input {
  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus:invalid {
    border: 1px solid #ff8282;
    outline: 1px solid #ff8282;
  }

  &:focus {
    border: 1px solid $darkgrey;
    outline: 1px solid $darkgrey;
  }

  &::placeholder {
    color: $darkgrey;
    opacity: 1;
  }
}

.login-form__content--owner:focus + .login-form__icon--phone {
  fill: #68b738;
}

.login-form__content--owner:focus + .login-form__icon--letter {
  stroke: #68b738;
}

.login-form__content--owner:focus:invalid + .login-form__icon--phone {
  fill: #ff8282;
}

.login-form__content--owner:focus:invalid + .login-form__icon--letter {
  stroke: #ff8282;
}

@media (min-width: $tablet-width) {
  .login-form .divided-line {
    display: none;
  }

  .login-form__pet-data {
    width: 768px;
    margin: 0 auto;
    padding: 68px 68px 60px 70px;
    box-sizing: border-box;
  }

  .login-form__info {
    margin: 0 0 16px 0;
  }

  .login-form__group {
    padding: 10px 28px 20px;
    border: 1px solid #e7e7e7;
  }

  .login-form__label,
  .login-form__content {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $darkgrey;
  }

  .login-form__note {
    padding: 24px 0 46px 0;
  }

  .login-form__content {
    padding: 11px 19px;
    margin: 0 0 0 17px;
    border: 1px solid #e7e7e7;
    outline: none;
    text-transform: uppercase;

    &--textarea {
      width: 100%;
      margin: 0;
      padding: 6px 0 10px 20px;
    }
  }

  .login-form__content--owner {
    padding: 8px 20px 12px;
    margin: 0 0 0 17px;
  }

  .login-form__icon {
    position: absolute;
    left: 666px;
  }

  .login-form__info-wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 76px 65px 0 70px;
    box-sizing: border-box;

    &--checkbox {
      padding: 0;
      margin: 0;
    }
  }

  .login-form__title-line {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      height: 2px;
      width: 100%;
      background-color: #68b738;
      z-index: -1;
    }
  }

  .login-form__title-wrapper {
    max-width: 768px;
    margin: 0 auto;
  }

  .login-form__title {
    display: inline-block;
    padding: 0 40px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    text-transform: none;
    background-color: #ffffff;
    margin-left: 30px;
  }

  .login-form__programm-filter {
    width: 768px;
    margin: 0 auto;
    padding: 0 68px 40px 70px;
    box-sizing: border-box;
  }

  .login-form__owner-information {
    border: none;
    padding: 35px 0 25px 0;
  }

  .login-form__owner .login-form__info-wrapper {
    padding: 70px 65px 0 70px;
  }

  .login-form__owner .login-form__info {
    margin: 0 0 22px 0;

    &:last-child {
      margin: 0 0 18px 0;
    }
  }

  .login-form__additional-products .login-form__group {
    padding: 20px 0 0 0;
    border: none;
  }

  .login-form__additional-products .login-form__info-wrapper {
    display: block;
  }

  .login-form__additional-products .login-form__list {
    max-width: 565px;
    display: grid;
    grid-template-columns: 282px 221px;
    column-gap: 62px;
    row-gap: 14px;
    padding: 0;
    margin: 46px 133px 0 70px;
  }

  .login-form__submit {
    width: 282px;
    margin: 20px 60px 0 0;
    font-size: 20px;
    padding: 15px 45px;
  }

  .login-form__send-wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 26px 70px 72px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .login-form__legend {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin: 14px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .login-form__pet-data {
    width: 568px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

  .login-form__wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 568px);
    grid-template-rows: 200px;
    column-gap: 80px;
    margin-bottom: 69px;
  }

  .login-form__info {
    margin: 0 0 8px 0;
  }

  .login-form__programm-filter {
    width: 568px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
  }

  .login-form__label,
  .login-form__content {
    margin-bottom: 13px;
    position: relative;
  }

  .login-form__icon {
    position: absolute;

    &--letter {
      left: 640px;
      bottom: 60px;
    }

    &--phone {
      left: 1294px;
      bottom: 54px;
    }
  }

  .login-form__note {
    padding: 24px 0 12px 0;
  }

  .login-form__group {
    padding: 28px 25px 22px;
    border: 1px solid #e7e7e7;
  }

  .login-form__owner-information {
    padding: 0;
  }

  .login-form__owner .login-form__info-wrapper {
    padding: 0 110px;
    margin: 76px auto 6px;
  }

  .login-form__info-wrapper {
    width: 1440px;
    margin: 76px auto 24px;
    display: grid;
    grid-template-columns: repeat(2, 568px);
    column-gap: 78px;
    box-sizing: border-box;
    padding: 0 110px;

    &--checkbox {
      padding: 0;
      margin: 0;
    }
  }

  .login-form__content {
    grid-column: -1/1;
  }

  .login-form__additional-products .login-form__info-wrapper {
    display: block;
  }

  .login-form__additional-products .login-form__list {
    max-width: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 78px;
    padding: 0;
    margin: 60px 110px 40px;
  }

  .login-form__title-line {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      height: 2px;
      width: 100%;
      background-color: #68b738;
      z-index: -1;
    }
  }

  .login-form__title-wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }

  .login-form__title {
    padding: 0 40px;
    margin-left: 70px;
  }

  .login-form__send-wrapper {
    width: 1440px;
    margin: 0 auto 78px;
    padding: 0 110px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .login-form__submit {
    width: 565px;
    font-size: 20px;
    margin: 0;
    padding: 20px 30px;
  }

  .login-form__legend--right {
    margin: 0 0 0 86px;
  }
}
