.login-form {
  text-transform: uppercase;
}

.login-form__pet-data {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px 10px;
  box-sizing: border-box;
}

.login-form__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 14px 0;
}

.login-form__info-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 41px 20px 0;
  box-sizing: border-box;
}

.login-form__label,
.login-form__content {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $darkgrey;
}

.login-form__content {
  padding: 13px 15px;
  box-sizing: border-box;
  flex-grow: 1;
  margin-left: 12px;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;

  &--textarea {
    width: 100%;
    margin: 0;
  }
}

.login-form__note {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}


.login-form__programm-filter {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px 10px;
  box-sizing: border-box;
  margin-bottom: 26px;
}

.login-form__group {
  border: none;
  padding: 20px 0 0 0;
}

.login-form__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

.login-form__owner-information {
  border: none;
  padding: 35px 0 23px 0;
}

.login-form__title-line {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }
}

.login-form__title-wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.login-form__title {
  display: inline-block;
  padding: 0 14px;
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  background-color: #ffffff;
}

.login-form__send {
  margin-bottom: 32px;
}

.login-form__send-wrapper {
  width: 320px;
  margin: 0 auto;
}

.login-form__submit {
  width: 280px;
  padding: 7px 44px;
  margin: 34px auto 21px;
}

.login-form__legend {
  display: block;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .login-form__label,
  .login-form__content {
    font-family: "OswaldRegular", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $darkgrey;
  }

  .login-form__content {
    padding: 11px 19px;
  }

  .login-form__title {
    display: inline-block;
    padding: 0 42px 0 0;
    font-family: "OswaldRegular", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
    text-transform: none;
    background-color: #ffffff;
  }

  .login-form__send {
    display: flex;
    align-items: center;
  }

  .login-form__submit {
    width: 282px;
    margin: 20px 42px 0 0;
    font-size: 20px;
    padding: 13px 45px;
  }
}

@media (min-width: $desktop-width) {
  .login-form__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 568px);
    grid-template-rows: 200px;
    column-gap: 80px;
    margin-bottom: 69px;
  }

  .login-form__programm-filter {
    padding: 0;
    margin: 0;
  }

  .login-form__label,
  .login-form__content {
    margin-bottom: 13px;
  }

  .login-form__group {
    padding: 21px 25px;
    border: 1px solid #e7e7e7;
  }

  .login-form__owner-information {
    display: grid;
    grid-template-columns: repeat(2, 568px);
    column-gap: 78px;
    padding: 72px 0 69px 0;
  }

  .login-form__info {
    margin: 0;
  }

  .login-form__additional-products .login-form__group {
    border: none;
    padding: 20px 0 0 0;
  }

  .login-form__additional-products .programm-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 57px 0 61px 0;
  }

  .login-form__additional-products .programm-filter__item {
    padding: 0;
    margin: 0;

    &:nth-child(3) {
      margin-right: 0;
    }
  }

  .login-form__submit {
    width: 568px;
    font-size: 20px;
    padding: 13px 188px;
    margin: 0 81px 0 0;
  }
}
