.main-header__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box;
}

.main-header__logo-box {
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 17px;
}

.main-header__logo img {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    width: 768px;
    flex-direction: row;
    align-items: center;
    padding: 13px 30px 14px;
  }

  .main-header__logo img {
    height: 52px;
    width: 174px;
  }

  .main-header__main-logo {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    width: 1440px;
    justify-content: space-between;
    padding: 0 110px;

    &--background {
      min-width: 1440px;
      justify-content: space-between;
      padding: 0 110px 10px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-image: url("..//..//img//index-background//index-background-cat-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 720px;
        height: 696px;
        top: 0;
        left: 50%;
        right: 0;
        bottom: 0;
        opacity: 0.2;
      }
    }
  }

  @media (min-resolution: 2dppx) {
    .main-header__wrapper {
      &::after {
        background-image: url("..//..//img//index-background//index-background-cat-desktop@2x.jpg");
        width: 720px;
        height: 696px;
      }
    }
  }

  .main-header__logo img {
    height: 59px;
    width: 202px;
    z-index: 1;
  }

  .main-header__logo-box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 53px 0 46px;
  }
}
