.main-footer {
  padding: 0;
  margin: 0;
}

.main-footer__contact {
  display: flex;
  padding: 26px 20px;
}

.main-footer__info {
  display: block;
  text-align: center;
  background-color: #f2f2f2;
  padding: 30px 20px;
  margin: 0;
}

.main-footer__main-logo {
  height: 24px;
}

.main-footer__contact-title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.main-footer__contact-text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $darkgrey;
}

.main-footer__location iframe {
  border: none;
  display: block;
}

.main-footer__social {
  margin-left: 90px;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $darkgrey;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding: 0;
    margin: 0;
  }

  .main-footer__contact {
    background-color: #ffffff;
    padding: 56px 70px;
    margin: 0;
  }

  .main-footer__contact-title {
    font-size: 20px;
    line-height: 26px;
    color: #111111;
    padding-right: 200px;
    margin: 0;
  }

  .main-footer__contact-text {
    font-size: 16px;
    line-height: 20px;
    padding-left: 100px;
  }

  .main-footer__location {
    height: 400px;
  }

  .main-footer__info {
    display: flex;
    align-self: center;
    background-color: #f2f2f2;
    padding: 60px 30px;
    margin: 0;

    .divided-line {
      border: none;
    }
  }

  .main-footer__social {
    margin-left: 22px;
  }

  .copyright__link {
    display: block;
    margin-right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding: 0;
    margin: 0;
  }

  .main-footer__info {
    padding: 65px 110px;
  }
}
