.main-navigation {
  width: 100%;
  position: relative;
}

.main-navigation__toggle {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 24px;
  height: 18px;
  background-color: #ffffff;
  border: none;
  background-image: url("..//..//img//header//menu-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.main-navigation__wrapper {
  margin: 0 auto;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-navigation__wrapper {
    width: 480px;
    margin: 0 auto;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__close-button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__wrapper {
    width: 520px;
    margin: 0;
    padding: 0;
  }
}
