@media (min-width: $desktop-width) {
  .page-background {
    background-image: linear-gradient(to right, #ffffff 50%, rgba(104, 183, 56, 0.85) 50%);
    height: 696px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("..//..//img//index-background//index-background-cat-desktop.jpg");
      background-repeat: no-repeat;
      background-position: 100% 0%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.1;
    }
  }
}
