.page {
  height: 100%;
  font-size: 14px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  line-height: 18px;
}

.page__body {
  width: 320px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #ffffff;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .page__body {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    width: 1440px;
    margin: 0 auto;
  }
}
