.preview {
  background-color: #ffffff;
}

.preview__wrapper {
  margin: 0;
  padding: 0;
}

.preview__header {
  color: #ffffff;
  height: auto;
  position: relative;
}

.preview-background {
  background-color: rgba(104, 183, 56, 0.85);
  width: 320px;
  height: 302px;
  position: relative;
  z-index: 0;
}

.preview-background::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("..//..//img//index-background//index-background-cat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}

.preview__header::before {
  content: "";
  display: block;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("..//..//img//index-background//index-cat-product.png");
  background-repeat: no-repeat;
  background-size: 280px 270px;
  background-position: center;
  z-index: 1;
}

.preview__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  line-height: 36px;
  margin: 0;
}

.preview__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 61px;
  margin: 0;
}

.preview__user {
  width: 280px;
  padding: 7px 44px;
  margin: 138px 20px 20px;
}
