.preview {
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 28%, #ffffff 28%);
}

.preview__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -460px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("..//..//img//index-background//index-cat-product.png");
    background-repeat: no-repeat;
    background-size: 280px 270px;
    background-position: center;
    z-index: 1;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("..//..//img//index-background//index-background-cat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 302px;
    opacity: 0.6;
    z-index: -1;
  }
}

@media (min-resolution: 2dppx) {
  .preview__wrapper {
    &::before {
      background-image: url("..//..//img//index-background//index-cat-product@2x.png");
      background-repeat: no-repeat;
      background-size: 280px 270px;
    }

    &::after {
      background-image: url("..//..//img//index-background//index-background-cat@2x.jpg");
      width: 320px;
      height: 302px;
    }
  }
}

.preview__header {
  color: #ffffff;
}

.preview__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 26px 0 0 0;
}

.preview__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 61px 20px 61px;
  margin: 0;
}

.preview__user {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 280px;
  padding: 11px 44px;
  margin: 280px 20px 20px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .preview {
    background-image: none;
  }

  .preview__wrapper {
    width: 768px;
    padding: 0 30px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 200px;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("..//..//img//index-background//index-cat-product-tablet.png");
      background-repeat: no-repeat;
      background-size: 709px 609px;
      background-position-y: top;
      z-index: -1;
    }

    &::after {
      display: none;
    }
  }

  @media (min-resolution: 2dppx) {
    .preview__wrapper {
      &::before {
        background-image: url("..//..//img//index-background//index-cat-product-tablet@2x.png");
        background-size: 709px 609px;
      }
    }
  }

  .preview-background {
    margin: 0;
    padding: 0;
  }

  .preview__title {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    color: #000000;
    padding: 36px 150px 0 86px;
  }

  .preview__subtitle {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding: 41px 80px 0 86px;
  }

  .preview__header {
    padding-bottom: 526px;
  }

  .preview__user {
    font-size: 20px;
    line-height: 20px;
    margin: 49px 0 0 90px;
    padding: 18px 20px;
    width: 244px;
  }
}

@media (min-width: $desktop-width) {
  .preview__wrapper {
    width: 1440px;
    padding: 0 110px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 200px;
      right: 0;
      bottom: 0;
      background-image: url("..//..//img//index-background//index-cat-product-dekstop.png");
      background-repeat: no-repeat;
      background-size: 552px 499px;
      z-index: 0;
    }
  }

  @media (min-resolution: 2dppx) {
    .preview__wrapper {
      &::before {
        background-image: url("..//..//img//index-background//index-cat-product-dekstop@2x.png");
        background-size: 552px 499px;
      }
    }
  }

  .preview__header {
    position: relative;
    padding: 0 0 220px 0;
    width: 50%;

    .preview-background {
      display: block;
      margin: 0 auto;
      background-color: transparent;
    }
  }

  .preview__title {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    color: #000000;
    padding-right: 116px;
  }
}
