.preview {
  background-color: #ffffff;
}

.preview__wrapper {
  margin: 0;
  padding: 0;
}

.preview__header {
  color: #ffffff;
  height: auto;
  position: relative;
}

.preview-background {
  background-color: rgba(104, 183, 56, 0.85);
  width: 320px;
  height: 302px;
  position: relative;
  z-index: 0;
}

.preview-background::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("..//..//img//index-background//index-background-cat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}

.preview__header::before {
  content: "";
  display: block;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("..//..//img//index-background//index-cat-product.png");
  background-repeat: no-repeat;
  width: 280px;
  height: 270px;
  background-position: center;
  z-index: 1;
}

.preview__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.preview__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 61px 20px 61px;
  margin: 0;
}

.preview__user {
  width: 280px;
  padding: 7px 44px;
  margin: 138px 20px 20px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .preview__wrapper {
    margin: 0;
    padding: 0;
  }

  .preview-background {
    color: #000000;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;

    &::after {
    background-image: none;
    }
  }

  .preview__title {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    padding: 0 150px 0 100px;
  }

  .preview__subtitle {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding-left: 100px;
  }

  .preview__header {
    position: relative;
    z-index: 0;

    &::before {
      width: 550px;
      height: 520px;
      top: 70px;
      left: 150px;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  .preview__user {
    margin: 20px 380px 300px 100px;
    width: 240px;
  }
}

@media (min-width: $desktop-width) {
  .preview__wrapper {
    margin: 0;
    padding: 0;
  }

  .preview__header {
    position: relative;
    padding: 0 110px;

    &::before {
      width: 552px;
      height: 499px;
      top: 0;
      left: 150px;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }

  .preview-background {
    color: #000000;
    width: 50%;
    height: 100%;
    margin: 0;
  }

  .preview__header {
    position: relative;

    &::before {
      width: 552px;
      height: 499px;
      top: 0;
      left: 550px;
      right: 0;
      bottom: 0;
    }
  }
}
