.products-list {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0 20px;
  padding: 0;
  list-style-type: none;
}

.products-list__item {
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px 0;
}

.products-list__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding: 20px 0 20px 70px;
  margin: 0;
  position: relative;
  color: #000000;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    right: 0;
    bottom: 0;
    left: 10px;
    top: 11px;
  }

  &--slim::after {
    position: absolute;
    content: "";
    background-image: url("..//..//img//black-cat-slim.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 50px;
    right: 0;
    bottom: 0;
    left: 15px;
    top: 10px;
  }

  &--pro::after {
    position: absolute;
    content: "";
    background-image: url("..//..//img//black-cat-pro.svg");
    background-repeat: no-repeat;
    width: 67px;
    height: 28px;
    right: 0;
    bottom: 0;
    left: 0;
    top: 20px;
  }
}

.products-list__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $darkgrey;
}

.products-list__catalog {
  padding: 15px 100px 18px 0;
}

.catalog-link__link {
  font-family: "OswaldRegular", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: #000000;
  }

  &:active {
    color: #b3b3b3;
  }
}

.catalog-link__link-icon {
  fill: #000000;

  &:hover {
    fill: #000000;
  }

  &:active {
    fill: #b3b3b3;
  }
}

@media (min-width: $tablet-width) {
  .products-list {
    max-width: 728px;
    margin: 0;
  }

  .products-list__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 30px;

    &::before {
      width: 200px;
      height: 200px;
      right: 0;
      bottom: 0;
      left: 450px;
      top: 40px;
    }

    &--slim::after {
      width: 194px;
      height: 140px;
      right: 0;
      bottom: 0;
      left: 15px;
      top: 10px;
    }

    &--pro::after {
      width: 268px;
      height: 112px;
      right: 0;
      bottom: 0;
      left: 0;
      top: 20px;
    }
  }

  .products-list__description {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 0 300px 0 53px;
  }

  .products-list__catalog {
    padding: 15px 50px 18px 52px;
  }

  .catalog-link__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .products-list {
    max-width: 1220px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .products-list__item {
    width: 570px;
    background-color: #f2f2f2;
    margin: 0;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  .products-list__description {
    margin: 40px 0;
    padding: 0;
  }

  .products-list__title {
    font-size: 36px;
    line-height: 36px;
    padding: 30px 0 30px 140px;

    &::before {
      width: 100px;
      height: 100px;
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
    }

    &--slim::after {
      width: 70px;
      height: 96px;
      right: 0;
      bottom: 0;
      left: 15px;
      top: 10px;
    }

    &--pro::after {
      width: 134px;
      height: 56px;
      right: 0;
      bottom: 0;
      left: 0;
      top: 20px;
    }
  }
}
