.products-list {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0 20px;
  padding: 0;
  list-style-type: none;
}

.products-list__item {
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 10px 20px 0 20px;
  margin: 0 0 20px 0;
}

.products-list__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding: 20px 0 20px 70px;
  margin: 0;
  position: relative;
  color: #000000;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    right: 0;
    bottom: 0;
    left: 2px;
    top: 14px;
  }

  &--slim::after {
    position: absolute;
    content: "";
    background-image: url("..//..//img//black-cat-slim-mobile.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 50px;
    right: 0;
    bottom: 0;
    left: 8px;
    top: 12px;
  }

  &--pro::after {
    position: absolute;
    content: "";
    background-image: url("..//..//img//black-cat-pro-mobile.svg");
    background-repeat: no-repeat;
    width: 67px;
    height: 28px;
    right: 0;
    bottom: 0;
    left: -8px;
    top: 24px;
  }
}

.products-list__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $darkgrey;
  margin: 0;
  padding: 10px 0 10px 0;
}

.products-list__catalog {
  padding: 6px 0 22px 0;
}

.products-list__link {
  font-family: "OswaldRegular", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("..//..//img//arrow-black.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 12px;
    left: 100px;
  }
}

.products-list__link:hover {
  color: #000000;

  &::after {
    background-image: url("..//..//img//arrow-hover.svg");
    width: 32px;
    height: 12px;
  }
}

.products-list__link:focus {
  color: #b3b3b3;

  &::after {
    background-image: url("..//..//img//arrow-light.svg");
    width: 32px;
    height: 12px;
  }
}

@media (min-width: $tablet-width) {
  .products-list {
    max-width: 728px;
    margin: 0;
  }

  .products-list__item {
    padding: 74px 0 0 54px;
    margin: 0 0 30px 0;
  }

  .products-list .divided-line {
    display: none;
  }

  .products-list__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 300px 24px 0;

    &::before {
      width: 200px;
      height: 200px;
      right: 0;
      bottom: 0;
      left: 392px;
      top: 18px;
    }

    &--slim::after {
      position: absolute;
      content: "";
      background-image: url("..//..//img//black-cat-slim-tablet.svg");
      background-repeat: no-repeat;
      width: 140px;
      height: 194px;
      right: 0;
      bottom: 0;
      left: 420px;
      top: 4px;
    }

    &--pro::after {
      position: absolute;
      content: "";
      background-image: url("..//..//img//black-cat-pro-tablet.svg");
      background-repeat: no-repeat;
      width: 268px;
      height: 112px;
      right: 0;
      bottom: 0;
      left: 360px;
      top: 60px;
    }
  }

  .products-list__description {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 0 310px 40px 0;
    margin: 0;
  }

  .products-list__catalog {
    padding: 16px 300px 56px 0;
  }

  .products-list__link {
    font-size: 20px;
    line-height: 30px;
    padding: 0;

    &::after {
      left: 129px;
      top: 6px;
    }
  }
}

@media (min-width: $desktop-width) {
  .products-list {
    max-width: 1220px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .products-list__item {
    width: 570px;
    background-color: #f2f2f2;
    margin: 0;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  .products-list__description {
    margin: 40px 0 0 0;
    padding: 0 22px 0;
  }

  .products-list__title {
    font-size: 36px;
    line-height: 36px;
    padding: 30px 0 30px 140px;

    &--slim::after {
      position: absolute;
      content: "";
      background-image: url("..//..//img//black-cat-slim-dekstop.svg");
      background-repeat: no-repeat;
      width: 70px;
      height: 97px;
      right: 0;
      bottom: 0;
      left: 15px;
      top: 0;
    }

    &--pro::after {
      position: absolute;
      content: "";
      background-image: url("..//..//img//black-cat-pro-dekstop.svg");
      background-repeat: no-repeat;
      width: 134px;
      height: 56px;
      right: 0;
      bottom: 0;
      left: -20px;
      top: 20px;
    }

    &::before {
      width: 100px;
      height: 100px;
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
    }
  }

  .products-list__catalog {
    padding: 27px 20px;
  }

  .products-list__link {
    font-size: 16px;
    line-height: 24px;
    padding: 0;

    &::after {
      left: 100px;
    }
  }
}
