.product-card__link {
  display: flex;
  align-self: center;
  justify-content: center;
  text-decoration: none;
}

.product-card__content {
  display: flex;
  flex-direction: column;
}

.product-card__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  padding-right: 66px;
}

.product-card__table {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $darkgrey;
}

.product-card__subtitle {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.product-card__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $darkgrey;
}

.product-card__button {
  grid-column: -1/1;
  padding: 10px 109px;
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;
  }

  .product-card__link {
    display: inline-block;
  }

  .product-card__content {
    min-width: 252px;
    justify-self: center;
    margin: 65px auto 0;
  }

  .product-card__title {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 36px 85px 14px;
    margin: 0;
  }

  .product-card__table {
    min-width: 252px;
    margin: 0 auto;
    border-collapse: collapse;
  }

  .product-card__button {
    width: 248px;
    padding: 10px 93px;
    margin: 0 auto 35px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__common {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
    box-sizing: border-box;
    display: flex;
  }

  .product-card__content {
    min-width: 168px;
    justify-self: center;
    margin: 105px auto 0;
  }

  .product-card__title {
    padding: 40px 50px 14px;
    margin: 0;
  }

  .product-card__table {
    min-width: 168px;
    margin: 0 auto;
    border-collapse: collapse;
  }

  .product-card__button {
    width: 168px;
    padding: 10px 53px;
    margin: 43px 38px;
  }
}
