.product-card {
  padding: 0 0 28px 0;
  margin: 0;

  &:nth-child(2n) {
    padding: 0 0 26px 0;
  }
}

.product-card__link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.product-card__link-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__image {
  display: block;
  padding: 12px 0 0 0;

  &--small {
    padding: 26px 0 0 0;
  }

  &--large {
    padding: 14px 0 0 0;
  }
}

.product-card__content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 22px 0 18px;
}

.product-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  padding: 0 50px 10px 0;
}

.product-card__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.product-card__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $darkgrey;
}

.product-card__button {
  grid-column: -1/1;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 104px 10px 102px;
  margin: 0;
  letter-spacing: 1px;
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .product-card__link-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-card__image {
    display: flex;
    width: 161px;
    height: 172px;
    position: absolute;
    top: -54px;
    left: 80px;

    &--large {
      width: 168px;
      height: 206px;
      top: -88px;
      left: 78px;
    }

    &--small {
      top: -70px;
      left: 78px;
    }
  }

  .product-card__link {
    display: inline-block;
  }

  .product-card__content {
    min-width: 252px;
    justify-self: center;
    margin: 135px auto 0;
    padding: 0;
  }

  .product-card__title {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 30px 85px 14px;
    padding: 0;
  }

  .product-card__table {
    min-width: 252px;
    margin: 0 auto;
    border-collapse: collapse;
  }

  .product-card__button {
    width: 248px;
    padding: 10px 93px;
    margin: 28px auto 8px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__common {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
    box-sizing: border-box;
    display: flex;
  }

  .product-card__image {
    top: -66px;
    left: 42px;

    &--large {
      top: -96px;
      left: 40px;
    }

    &--small {
      top: -80px;
      left: 40px;
    }
  }

  .product-card__content {
    min-width: 168px;
    justify-self: center;
    margin: 130px auto 0;
  }

  .product-card__title {
    padding: 36px 50px 14px;
    margin: 0;
  }

  .product-card__table {
    min-width: 168px;
    margin: 0 auto;
    border-collapse: collapse;
  }

  .product-card__button {
    width: 168px;
    padding: 10px 53px;
    margin: 30px 38px 10px;
  }
}
