.product-card__link {
  display: flex;
  align-self: center;
  justify-content: center;
  text-decoration: none;
}

.product-card__content {
  display: flex;
  flex-direction: column;
}

.product-card__title {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  padding-right: 66px;
}

.product-card__table {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $darkgrey;
}

.product-card__subtitle {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.product-card__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $darkgrey;
}

.product-card__button {
  grid-column: -1/1;
  padding: 10px 109px;
}

@media (min-width: $tablet-width) {
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-card__content {
    justify-self: center;
  }

  .product-card__title {
    padding-right: 0;
  }

  .product-card__table {
    padding-left: 38px;
  }

  .product-card__button {
    width: 248px;
    padding: 10px 93px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__common {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
    box-sizing: border-box;
    display: flex;
  }
}
