.programm-filter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programm-filter__item {
  margin-bottom: 13px;
}

.programm-filter__label {
  position: relative;
  display: block;
  line-height: 36px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.programm-filter__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #CDCDCD;
}

.programm-filter__input[type="radio"]:checked + .programm-filter__mark::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  background-color: #68B738;
  border-radius: 50%;
}

.programm-filter__input[type="radio"] + .programm-filter__mark {
  border-radius: 50%;
}

.programm-filter:hover .programm-filter__mark {
  border: 2px solid #BABABA;
}

.programm-filter__input[type="checkbox"]:checked + .programm-filter__mark::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 2px;
  left: 2px;
  top: 17px;
  transform: rotate(45deg);
  background-color: #68B738;
}

.programm-filter__input[type="checkbox"]:checked + .programm-filter__mark::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  left: 7px;
  top: 14px;
  transform: rotate(-45deg);
  background-color: #68B738;
}
