.programms__header {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.programms__header-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 28px 0 37px 0;
}

.programms__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 40px 39px 0;
}

@media (min-width: $tablet-width) {
  .programms__header {
    width: 768px;
    padding: 0 68px 0;
  }

  .programms__header-title {
    font-size: 60px;
    line-height: 60px;
    margin: 35px 0 54px 0;
  }

  .programms__subtitle {
    font-size: 20px;
    line-height: 30px;
    padding-right: 310px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .programms__header {
    width: 1440px;
    padding: 0 110px;
  }

  .programms__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 60px 0;
    padding: 0 850px 0 0;
  }
}
