.programm-filter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programm-filter__item {
  margin: 0 0 7px 0;

  &:last-child {
    margin: 0;
  }
}

.programm-filter__item--checkbox {
  margin: 0 0 6px 0;
}

.programm-filter__label {
  position: relative;
  display: block;
  line-height: 36px;
  padding-left: 44px;
  margin: 0;
}

.programm-filter__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #cdcdcd;
}

.programm-filter__text {
  font-family: "OswaldRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.programm-filter__input[type="radio"]:checked + .programm-filter__mark::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 0;
  bottom: 0;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}

.programm-filter__input[type="radio"] + .programm-filter__mark {
  border-radius: 50%;
}

.programm-filter__input[type="checkbox"]:checked + .programm-filter__mark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 3px;
  top: 12px;
  transform: rotate(45deg);
  background-color: #68b738;
}

.programm-filter__input[type="checkbox"]:checked + .programm-filter__mark::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  left: 8px;
  top: 11px;
  transform: rotate(-45deg);
  background-color: #68b738;
}

.programm-filter__input[type="radio"]:hover + .programm-filter__mark {
  border: 2px solid #bababa;
}

.programm-filter__input[type="radio"]:disabled + .programm-filter__mark + .programm-filter__text {
  color: #bdbdbd;
}

.programm-filter__input[type="radio"]:checked:disabled + .programm-filter__mark {
  opacity: 0.5;
}

.programm-filter__input[type="checkbox"]:checked:hover + .programm-filter__mark {
  border: 2px solid #bababa;
}

.programm-filter__input[type="checkbox"]:disabled + .programm-filter__mark + .programm-filter__text {
  color: #bdbdbd;
}

.programm-filter__input[type="checkbox"]:checked:disabled + .programm-filter__mark {
  opacity: 0.5;
}

@media (min-width: $tablet-width) {
  .programm-filter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
  }

  .programm-filter__item {
    margin: 10px 0 8px 0;
    padding: 0;

    &:last-child {
      margin: 4px 0;
    }
  }

  .programm-filter__item--checkbox {
    margin: 10px 0 8px 0;

    &:last-child {
      margin: 10px 0 8px 0;
    }
  }

  .programm-filter__label {
    line-height: 40px;
    padding-left: 60px;
    margin: 0;
  }

  .programm-filter__mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    border: 2px solid #cdcdcd;
  }

  .programm-filter__text {
    font-family: "OswaldRegular", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding: 0;
    margin: 0;
  }

  .programm-filter__input[type="radio"]:checked + .programm-filter__mark::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    right: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    background-color: #68b738;
    border-radius: 50%;
  }

  .programm-filter__input[type="checkbox"]:checked + .programm-filter__mark::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    left: 6px;
    top: 20px;
    transform: rotate(45deg);
    background-color: #68b738;
  }

  .programm-filter__input[type="checkbox"]:checked + .programm-filter__mark::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    left: 12px;
    top: 16px;
    transform: rotate(-45deg);
    background-color: #68b738;
  }
}

@media (min-width: $desktop-width) {
  .programm-filter {
    margin: 0;
    padding: 0;
  }

  .programm-filter__text {
    padding-left: 19px;
  }

  .programm-filter__item {
    margin: 0 0 13px 0;

    &:last-child {
      margin-right: 0 0 13px 0;
    }
  }

  .programm-filter__item--checkbox {
    margin: 0 0 13px 0;

    &:last-child {
      margin: 0 0 13px 0;
    }
  }

  .programm-filter__label {
    line-height: 40px;
    padding: 0 0 0 40px;
    margin: 0;
  }
}
