.site-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-list__item a {
  font-family: "OswaldMedium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 23px 20px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: -20px;
    bottom: 0;
    height: 1px;
    background-color: #e6e6e6;
    width: 320px;
  }
}

.site-list__item:focus a {
  color: #b3b3b3;
}

.site-list__item:hover a {
  color: #b2b2b2;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 440px;
    margin: 0;
    padding: 0;
  }

  .site-list__item a {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-right: 10px;
    position: relative;
    border: none;
    padding: 0;


    &::after {
      display: none;
    }
  }

  .site-list__item--active a::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    height: 2px;
    background-color: #68b738;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 510px;
    margin: 0;
    padding: 0;
    padding-left: 100px;

    &--white a {
      color: #ffffff;
    }
  }

  .site-list__item a {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }

  .site-list--white .site-list__item {
    font-size: 20px;
    line-height: 30px;
    position: relative;
    z-index: 1;
    border: none;

    &--active::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -10px;
      left: 0;
      height: 2px;
      background-color: #ffffff;
    }
  }

  .site-list--white .site-list__item:focus a {
    color: #99c97c;
  }

  .site-list--white .site-list__item:hover a {
    color: #c1ddb1;
  }
}
