.social__list {
  max-width: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social__item {
  margin-right: 10px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__link {
  fill: #666666;
  min-width: 28px;
  min-height: 22px;
  margin: 0;

  &:hover {
    fill: #666666;
  }

  &:focus {
    fill: #68b738;
  }

  &:disabled {
    fill: #c9e1bb;
  }
}
