.social__list {
  min-width: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 12px 0 12px 0;
  margin: 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    right: 0;
    bottom: 0;
    left: -70px;
    top: -8px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    right: 0;
    bottom: 0;
    left: -70px;
    top: 50px;
  }
}

.social__item {
  margin-right: 23px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  fill: #666666;
  min-width: 28px;
  min-height: 22px;
  margin: 0;

  &:hover {
    fill: #666666;
  }

  &:focus {
    fill: #68b738;
  }

  &:disabled {
    fill: #c9e1bb;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    padding: 14px 0 12px 0;
    margin: 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}
